@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"), url("../../assets/font/FuturaCyrillicLight.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"), url("../../assets/font/FuturaCyrillicDemi.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("../../assets/font/FuturaCyrillicBold.woff") format("woff");
}