@use "../../styles/partials/fonts";

.outer {
    width: 904px;
    height: auto;
    min-height: 506px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px #0000000A;

    display: flex;
    text-align: center;


}