@use "../../styles/partials/fonts";

.quiz {
  color: #32302f;
  &__headers {
    text-align: center;
    h1 {
      font-size: 48px;
      font-family: "Futura PT Demi";
    }

    h2 {
      font-size: 18px;
      font-family: "Futura PT Light";
    }
  }
}
