@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colours" as *;

.question{
 &__container{
    width: 904px;
    height: 100%;
    border-radius: 1rem;
    background-color: $white;
    margin: 0 auto;
    padding: 2rem 0;
    box-shadow: 0px 2px 8px 0px #0000000A;
 }

}


.progbar{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Futura PT Demi";
        width: 450px;
        background-color: $bg-white;
        position: relative;
    }

    &__progress{
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        transform: translateY(-50%);
        height: 2px;
        z-index: 1;
        transition: all 0.8s ease-in;
    }

    &__step{
        background-color: $white;
        border: 1px solid $text-black;
        height: 2.25rem;
        width: 2.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 1;
    }

    &__results{
        width: 4.375rem;
        border-radius: 2.25rem;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        z-index: 1;
        border: 1px solid $text-black;
    }

    &__active{
        color: $text-black;
        background-color: $blue;
    }

    &__next-btn{

        position: relative;

        // &:hover{

        // color: $text-black;
        // background-color: $blue;
        // border-radius: 32px;
        // width: 198px;
        // height: 50px;
        // font-family: "Futura PT Demi";
        // font-size: 18px;
        // margin-top: 24px;
        // margin-bottom: 24px;
    //   }

            &:hover{
                background-color:#7096b5;
                cursor: pointer;
            }
        &:active{

            outline: none;
            transform: scale(0.98);
        }

        background-color: $blue;
        width: 198px;
        height: 50px;
        border-radius: 160px;
        font-family: "Futura PT Demi";
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border: none;
        font-size: 1rem;

        &-icon {
            width: 16px;
            position: absolute;
            top: 18px;
            left: 117px;
        }

        &--disabled{
            display:none;
        }


    }


}