@use "../../styles/partials/fonts";

.navbar {
  display: flex;
  align-items: center;
  
  &__list {
    display: flex;
    list-style: none;
    font-family: "Futura PT Light";
  }

  &__item {
    text-decoration: none;
  }
}