@use "../../styles/partials/fonts";

.results {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.results__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  padding: 20px;
  border-radius: 8px;
}

.box1 {
  background-color: #f8f0e3;
}
.box2 {
  background-color: #f8f0e3;
}
.box3 {
  background-color: #e6f8d0;
}
.box4 {
  background-color: #e6f8d0;
}
.box5 {
  background-color: #d0e6f8;
}
.box6 {
  background-color: #d0e6f8;
}
.box7 {
  background-color: #f8e3d0;
}
.box8 {
  background-color: #f8e3d0;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}